.app-wrapper {
  color: white;
  font-size: 2vw;
}

.app-header {
  background-size: cover;
  background-image: url(../src/assets/images/headerImage.jpg);
  padding: 50px 0 50px 0;
}
.header-caption {
  text-align: center;
  margin-top: 0;
}
